<!DOCTYPE html>
<html>
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../pages/" + view) %>
    <% var scripts = scripts || [] %>
    <% scripts.forEach(function (el) { %>
    <script src='/js/<%= el %>.js'></script>
    <% }) %>
  </body>
</html>
