body {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  padding: 50px;
  background: black;
  margin: 100px;
  text-align: center;
  border-radius: 6px;
  opacity: .7;
  cursor: pointer;
}
section:hover {
  opacity: 1;
}
a {
  color: white;
  font-size: 30px;
}
