<% include ../partials/header %>
<main>
  <% for (var animal in animals) {
       if (animals.hasOwnProperty(animal)) {
  %>
  <a href="/animal/<%=animal%>/"><section><%=animals[animal].name%></section></a>
  <%
       }
     }
  %>
</main>
