<% include ../partials/header %>
<main>
  <a href="/animal/penguin/"><section>Penguin</section></a>
  <a href="/animal/seal/"><section>Seal</section></a>
  <a href="/animal/whale/"><section>Whale</section></a>
</main>
